# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/df703480-885f-446b-8710-718c1c98df80/registry/
@public:registry=https://registry.figma.com/npm/df703480-885f-446b-8710-718c1c98df80/registry/
# figma-managed npm registry config end
