@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://static.figma.com/font/NunitoSans_YTLC_opsz_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://static.figma.com/font/NunitoSans_YTLC_opsz_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://static.figma.com/font/NunitoSans_YTLC_opsz_wdth_wght__1') format('woff2');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  font-display: swap;
  src: url('https://static.figma.com/font/SF-Pro_1') format('woff2');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://static.figma.com/font/SF-Pro_1') format('woff2');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://static.figma.com/font/SF-Pro-Rounded-Semibold_1') format('woff2');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://static.figma.com/font/SF-Pro-Rounded-Medium_1') format('woff2');
}
